/* ---------- SCSS VARIABLES ---------- */
$pink: #f4afab;
$yellow: #fcfccc;
$purple: #e2def4;
$green: #a9fbd7;
$blue: #a0e4ff;
$black: #0c0f0a;

/* ---------- UNIVERSAL STYLES ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  font-size: 10px;
  /*scroll-behavior: smooth;*/
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

.title {
  font-family: "Sitka Small";
  font-size: 7rem;
  font-weight: bold;
  opacity: 0.5;
  text-align: center;
}

/* ---------- DESIGN UNIVERSAL STYLES ---------- */

*::after,
*::before {
  content: "";
}

.dia {
  position: absolute;
  transform: rotate(45deg);
  border: 0;
  z-index: -2;
}

.yellow {
  background-color: $yellow;
}
.blue {
  background-color: $blue;
}
.purple {
  background-color: $purple;
}
.green {
  background-color: $green;
}
.pink {
  background-color: $pink;
}

.yellow-border {
  border: 2px solid $yellow;
}
.blue-border {
  border: 2px solid $blue;
}
.purple-border {
  border: 2px solid $purple;
}
.green-border {
  border: 2px solid $green;
}
.pink-border {
  border: 2px solid $pink;
}

/* ---------- HEADER SECTION ---------- */
#home {
  height: 100vh;
}

.nav {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: flex-end;
  background-color: white;
  list-style: none;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid $pink;
  opacity: 0.9;
  overflow-y: hidden;
  z-index: 5;
}

.nav li {
  padding: 10px 10px;
  transform: skewY(-5deg);
}

.nav li a {
  color: $pink;
}

.nav li:hover {
  background-color: $pink;
  transition: 0.4s ease;

  a {
    color: white;
  }
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-left: 7rem;
}

.job {
  font-size: 1.8rem;
  font-weight: bold;
  color: $pink;
  margin-left: 1%;
}

.name {
  font-family: "Sitka Small", serif;
  font-size: 4.3rem;
  font-weight: normal;
  color: $black;
  margin-left: 3%;
}

.action {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  background-color: $pink;
  border: 0;
  width: 170px;
  padding: 10px;
  /* for desktop margin-left: 210px or 20%; */
  margin-left: 6%;

  a {
    color: white;
  }

  &:hover {
    cursor: pointer;
  }
}

/* --- HERO DESIGN --- */
.hero-design .dia {
  opacity: 0.7;
}

.hero-one {
  width: 169px;
  height: 169px;
  top: -150px;
  right: 110px;
}

.hero-two {
  width: 220px;
  height: 220px;
  top: -40px;
  right: -90px;
}

.hero-three {
  width: 250px;
  height: 250px;
  top: 135px;
  right: 69px;
}

.hero-four {
  width: 120px;
  height: 120px;
  top: 395px;
  right: 235px;
}

.hero-five {
  width: 220px;
  height: 220px;
  top: 343px;
  right: -90px;
}

.hero-six {
  width: 200px;
  height: 200px;
  top: 510px;
  right: 94px;
}

/* ---------- EDUCATION SECTION ---------- */
#education {
  padding-top: 100px;
  height: 100vh;

  .title {
    color: $purple;
  }
}

.uni {
  font-size: 2.3rem;
  margin-left: 5rem;
  padding: 70px 0 105px;
}

.school {
  font-family: "Sitka Small", serif;
  font-style: italic;
  font-size: 1.3em;
  margin-left: 10%;
}

.degree {
  margin-left: 11%;
}

.courses-container {
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .rel-courses,
  .other-courses {
    margin: 10px;
  }
}

.course-type {
  font-family: "Sitka Small", serif;
  font-weight: bold;
}

/* --- EDU DESIGN --- */
.edu-one-right {
  width: 450px;
  height: 450px;
  top: 950px;
  right: -200px;
  opacity: 0.3;
}
.edu-two-right {
  width: 250px;
  height: 250px;
  top: 1050px;
  right: 300px;
  opacity: 0.3;
}

/* ---------- SKILLS SECTION ---------- */
#skills {
  margin-top: 7rem;

  .title {
    color: $blue;
  }
}

#skills .title {
  margin-top: 110px;
}

.skills {
  position: relative;
  width: 100vw;
  font-size: 2rem;
  overflow: hidden;
}

.skill {
  position: relative;
  transform: rotate(45deg);
  width: 100px;
  height: 100px;
  opacity: 0.7;
}

.skill-word {
  font-weight: bold;
  text-align: center;
  transform: rotate(-45deg) translate(-27px, 25px);
}

.html {
  left: 325px;
  top: 240px;
}

.css {
  left: 245px;
  top: 220px;
}

.scss {
  left: 325px;
  top: 200px;
}

.git {
  left: 165px;
  top: 100px;
}

.javasc {
  left: 405px;
  top: -80px;
}

.xd {
  left: 245px;
  top: -20px;
}

/* --- SKILLS DESIGN --- */
.skills-one-left {
  width: 160px;
  height: 160px;
  top: 1700px;
  left: 40px;
  box-shadow: -20px 20px rgba($blue, 0.37);
}

.skills-two-left {
  width: 160px;
  height: 160px;
  top: 1830px;
  left: 170px;
  box-shadow: -20px 20px rgba($purple, 0.37);
}

.skills-three-left {
  width: 160px;
  height: 160px;
  top: 1960px;
  left: 40px;
  box-shadow: -20px 20px rgba($green, 0.37);
}
/*
.skills-four-left {
  width: 160px;
  height: 160px;
  top: 2110px;
  left: 60px;
  box-shadow: -20px 20px rgba($yellow, 0.37);
}*/

/* ---------- PROJECTS SECTION ---------- */
#projects {
  padding-top: 100px;

  .title {
    color: $pink;
  }
}

.proj-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
  width: 100%;
}

.proj-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.proj-type {
  font-size: 2.5em;
  font-family: "Sitka Small";
}

.description {
  font-size: 2em;
  padding: 0 5px;
  margin: 10px;
  font-weight: bold;
  border-bottom: 2px solid $pink;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project {
  position: relative;
  overflow: hidden;
  margin: 20px;

  img {
    width: 280px;
  }

  .hover-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid $pink;
    top: 0;
    opacity: 0;
    transition: 0.4s ease;
    text-align: center;
  }

  .desc {
    color: $pink;
    font-size: 1.7em;
    margin-bottom: 10px;
  }

  .links {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .view-code {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    background-color: $pink;
    padding: 5px 10px;
  }

  &:hover {
    .hover-overlay {
      opacity: 1;
    }
  }
}

/* ---------- FOOTER SECTION ---------- */
footer {
  display: flex;
  justify-content: center;
  background-color: $pink;
  color: white;
  opacity: 0.9;
  padding: 20px 0;
  margin-top: 40px;

  .copyright {
    align-self: flex-end;
  }
}

/* ---------- MEDIA QUERIES SECTION ---------- */
@media only screen and (min-width: 575px) {
  .title {
    text-align: left;
    margin-left: 15rem;
  }
}

@media only screen and (min-width: 775px) {
  .title {
    font-size: 10rem;
  }

  .hero-design .dia {
    opacity: 1;
  }

  .edu-one-right {
    top: 990px;
  }

  .edu-two-right {
    top: 1090px;
  }

  .skills-one-left {
    top: 1740px;
  }

  .skills-two-left {
    top: 1870px;
  }

  .skills-three-left {
    top: 2000px;
  }
}
