* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rakkas";
}

h1,
h2 {
  font-family: "Bungee Inline";
  font-size: 3em;
  letter-spacing: 0.2em;
}

/* ---------- NAVIGATION SECTION ---------- */

nav {
  width: 15%;
  height: 100%;
  position: fixed;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #faa3c0;
  overflow-y: none;
}

.navi {
  width: 100%;
}

.logo_square {
  width: 100%;
  height: 22.4%;
  background-color: #faa3c0;
  position: absolute;
}

.list {
  width: 100%;
  position: absolute;
  top: 22.4%;
}

.navi a {
  color: #faa3c0;
  text-decoration: none;
  width: 100%;
  padding: 10px 0;
  border: 1px solid white;
  display: block;
}

.navi a:hover {
  background-color: #faa3c0;
  border: 1px dashed white;
  color: white;
}

/* ---------- HEADER SECTION ---------- */

header {
  margin-left: 15%;
  padding-left: 2%;
  background-color: #faa3c0;
  color: white;
}

/* ---------- SECTIONS ---------- */
section {
  margin-left: 17%;
  padding: 2%;
  width: 80%;
  border-radius: 5px;
  background-color: #faa3c0;
  color: white;
}

h2 {
  margin-left: 17%;
  background-color: white;
  color: #faa3c0;
}

/* ---------- EDUCATION SECTION ---------- */
.school {
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  background-color: white;
  color: #faa3c0;
}

.school h3 {
  margin-left: 0;
  font-size: 22px;
  color: #faa3c0;
}

.courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.courses ul {
  border: 1px solid #faa3c0;
  border-radius: 5px;
  width: 250px;
  height: 100px;
}

.courses ul {
  list-style: none;
  text-align: center;
}

/* ---------- SKILLS SECTION ---------- */

.skills ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.skills li {
  position: relative;
  padding-left: 30px;
}

.skills li::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../images/cherry-blossom.png");
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.skills li:hover::before {
  top: -3px;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* ---------- PROJECTS SECTION ---------- */

.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 0;
  column-gap: 0;
}

.project img {
  height: 180px;
}

.mentor .project img {
  width: 320px;
}

figure {
  position: relative;
}

figcaption {
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.project figure:hover figcaption {
  color: #faa3c0;
  animation: appear ease-in forwards 0.5s;
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

.white_hover_box {
  background-color: white;
  opacity: 0;
  width: 320px;
  height: 180px;
  position: absolute;
  top: 0;
}

figure:hover .white_hover_box:hover {
  opacity: 1;
}

/* ---------- HOBBIES SECTION ---------- */

h3 {
  margin-left: 15px;
  color: white;
  font-size: 25px;
}

.hobbies .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.hobby {
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  background-color: white;
  color: #faa3c0;
}

.language {
  width: 50%;
}

.hobby p {
  font-size: 17px;
}

.hobby:hover span {
  color: black;
}

.hobby_design {
  margin-left: 15px;
  align-self: center;
}

.korean {
  font-family: "Single Day";
  font-size: 2.5em;
}

/* ---------- RESPONSIVE DESIGN SECTION ---------- */

@media only screen and (max-width: 900px) {
  nav {
    display: none;
  }

  header {
    margin: 0;
    text-align: center;
  }

  section,
  h2 {
    margin-left: 30px;
    width: 90%;
  }

  .hobby {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  h3,
  h2 {
    text-align: center;
  }

  h3 {
    margin: 0;
  }

  .box {
    justify-content: center;
  }

  .hobby_design {
    display: none;
  }

  .hobby {
    width: 100%;
  }
}
